
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Physicians can accept OT appointments right from their mobile in BookMyOT App." />
    <meta name="keywords" content="BookMyOT, docbizz" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="article" />
    <title> - BookmyOT</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/BMOT.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/BookmyOT.styles.css' %}" />
    <link rel="canonical" href="https://preview.keenthemes.com/metronic8" />
    <link rel="shortcut icon" href="{% static 'media/logos/favicon.png' %}" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:300,400,500,600,700" />
    <link href="{% static 'plugins/custom/datatables/datatables.bundle.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'plugins/custom/vis-timeline/vis-timeline.bundle.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'plugins/global/plugins.bundle.css" rel="stylesheet' %}" type="text/css" />
    <link href="{% static 'css/style.bundle.css' %}" rel="stylesheet" type="text/css" />
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'js/site.js' %}"></script>
    <script src="{% static 'js/bookmyot.js' %}"></script>
    <script src="{% static 'jsplugins.bundle.js' %}"></script>
    <script src="{% static 'js/scripts.bundle.js' %}"></script>
    <script src="/lib/custom/datatables/datatables.bundle.js"></script>

    <script src="https://kit.fontawesome.com/18894c0e88.js" crossorigin="anonymous"></script>
    
</head>
<body id="kt_app_body" data-kt-app-header-fixed-mobile="true" data-kt-app-toolbar-enabled="true" class="app-default">
    <div>
        {% block content %}
        {% endblock %}
    </div>
</body> 
</html>