
{% extends 'base.html' %}
{% load static %}

{% block content %}

    <script src="/js/notifications.js"></script>
    <script>
        var defaultThemeMode = "light";
        var themeMode;
        if (document.documentElement) {
            if (document.documentElement.hasAttribute("data-bs-theme-mode")) {
                themeMode = document.documentElement.getAttribute("data-bs-theme-mode");
            } else {
                if (localStorage.getItem("data-bs-theme") !== null) {
                    themeMode = localStorage.getItem("data-bs-theme");
                } else {
                    themeMode = defaultThemeMode;
                }
            }
            if (themeMode === "system") {
                themeMode = window.matchMedia("(prefers-color-scheme: dark)").matches ? "dark" : "light";
            }
            document.documentElement.setAttribute("data-bs-theme", themeMode);
        }
    </script>
    <style>
        .spinner-modal {
            position: fixed;
            z-index: 99999;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            background-color: Black;
            filter: alpha(opacity=60);
            opacity: 0.6;
            -moz-opacity: 0.8;
        }

        .spinner-center {
            z-index: 99999;
            margin: 300px auto;
            padding: 10px;
            width: 130px;
            border-radius: 10px;
            filter: alpha(opacity=100);
            opacity: 1;
            -moz-opacity: 1;
        }

    </style>
    <div b-1mtsuay2f9 class="page-loader flex-column bg-dark bg-opacity-25">
        <span b-1mtsuay2f9 class="spinner-border text-primary" role="status"></span>
        <span b-1mtsuay2f9 class="text-gray-800 fs-6 fw-semibold mt-5">Loading...</span>
    </div>
    <div b-1mtsuay2f9 class="d-flex flex-column flex-root app-root" id="kt_app_root">
        <div b-1mtsuay2f9 class="app-page flex-column flex-column-fluid" id="kt_app_page">
            <div b-1mtsuay2f9 id="kt_app_header" class="app-header" data-kt-sticky="true" data-kt-sticky-activate="{default: false, lg: true}" data-kt-sticky-name="app-header-sticky" data-kt-sticky-offset="{default: false, lg: '300px'}">
                <div b-1mtsuay2f9 class="app-container container-xxl d-flex align-items-stretch justify-content-between" id="kt_app_header_container">
                    <div b-1mtsuay2f9 class="d-flex align-items-center d-lg-none ms-n2 me-2" title="Show sidebar menu">
                        <div b-1mtsuay2f9 class="btn btn-icon btn-active-color-primary w-35px h-35px" id="kt_app_header_menu_toggle">
                            <span b-1mtsuay2f9 class="svg-icon svg-icon-2">
                                <svg b-1mtsuay2f9 width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path b-1mtsuay2f9 d="M21 7H3C2.4 7 2 6.6 2 6V4C2 3.4 2.4 3 3 3H21C21.6 3 22 3.4 22 4V6C22 6.6 21.6 7 21 7Z" fill="currentColor" />
                                    <path b-1mtsuay2f9 opacity="0.3" d="M21 14H3C2.4 14 2 13.6 2 13V11C2 10.4 2.4 10 3 10H21C21.6 10 22 10.4 22 11V13C22 13.6 21.6 14 21 14ZM22 20V18C22 17.4 21.6 17 21 17H3C2.4 17 2 17.4 2 18V20C2 20.6 2.4 21 3 21H21C21.6 21 22 20.6 22 20Z" fill="currentColor" />
                                </svg>
                            </span>
                        </div>
                    </div>
                    <div b-1mtsuay2f9 class="d-flex align-items-center flex-grow-1 flex-lg-grow-1 me-lg-13">
                        <a b-1mtsuay2f9 href="/">
                            <img alt="Logo" src="{% static 'media/logos/bookmyot.png' %}" class="theme-light-show" />
                            <img alt="Logo" src="{% static 'media/logos/bookmyot.png' %}" class="theme-dark-show" />
                        </a>
                    </div>
                    <div b-1mtsuay2f9 class="d-flex align-items-stretch justify-content-between flex-lg-grow-1" id="kt_app_header_wrapper">
                        <div b-1mtsuay2f9 class="d-flex align-items-stretch" id="kt_app_header_menu_wrapper">
                            <div b-1mtsuay2f9 class="app-header-menu app-header-mobile-drawer align-items-stretch" data-kt-drawer="true" data-kt-drawer-name="app-header-menu" data-kt-drawer-activate="{default: true, lg: false}" data-kt-drawer-overlay="true" data-kt-drawer-width="{default:'200px', '300px': '250px'}" data-kt-drawer-direction="start" data-kt-drawer-toggle="#kt_app_header_menu_toggle" data-kt-swapper="true" data-kt-swapper-mode="prepend" data-kt-swapper-parent="{default: '#kt_app_body', lg: '#kt_app_header_menu_wrapper'}">
                                <div b-1mtsuay2f9 class="menu menu-rounded menu-column menu-lg-row menu-active-bg menu-title-gray-600 menu-state-dark menu-arrow-gray-400 fw-semibold fw-semibold fs-6 align-items-stretch my-5 my-lg-0 px-2 px-lg-0" id="#kt_app_header_menu" data-kt-menu="true">

                                    <div b-1mtsuay2f9 class="menu-item here show menu-here-bg menu-lg-down-accordion me-0 me-lg-2">
                                        <a b-1mtsuay2f9 href="./assets/home.html" class="menu-link">
                                            <span b-1mtsuay2f9 class="menu-icon-dark">
                                                {% comment %} <i b-1mtsuay2f9 class="bi bi-columns-gap"></i> {% endcomment %}
                                                <i class="fa-solid fa-objects-column" style="color: #000000"> </i>

                                            </span>
                                            <span b-1mtsuay2f9 class="menu-title">Home</span>
                                            <span b-1mtsuay2f9 class="menu-arrow d-lg-none"></span>
                                        </a>
                                    </div>
                                    <div b-1mtsuay2f9 class="menu-item me-0 me-lg-2">
                                        <a b-1mtsuay2f9 href="./assets/hospital.html" class="menu-link">
                                            <span b-1mtsuay2f9 class="menu-icon-warning">
                                                <i class="fa-solid fa-building fa-lg"></i>
                                            </span>
                                            <span b-1mtsuay2f9 class="menu-title">Hospital</span>
                                            <span b-1mtsuay2f9 class="menu-arrow d-lg-none"></span>
                                        </a>
                                    </div>
                                    <div b-1mtsuay2f9 class="menu-item me-0 me-lg-2">
                                        <a b-1mtsuay2f9 href="{% url 'physician_list' %}" class="menu-link">
                                            <span b-1mtsuay2f9 class="menu-icon-success">
                                                <i class="fa-solid fa-user-large fa-xl"></i>
                                            </span>
                                            <span b-1mtsuay2f9 class="menu-title">Doctor</span>
                                            <span b-1mtsuay2f9 class="menu-arrow d-lg-none"></span>
                                        </a>
                                    </div>
                                    <div b-1mtsuay2f9 class="menu-item me-0 me-lg-2">
                                        <a b-1mtsuay2f9 href="/surgery" class="menu-link">
                                            <span b-1mtsuay2f9 class="menu-icon-danger">
                                                <i class="fa-solid fa-heart-pulse"></i>
                                            </span>
                                            <span b-1mtsuay2f9 class="menu-title">Surgeries</span>
                                            <span b-1mtsuay2f9 class="menu-arrow d-lg-none"></span>
                                        </a>
                                    </div>
                                    <div b-1mtsuay2f9 data-kt-menu-trigger="{default: 'click', lg: 'hover'}" data-kt-menu-placement="bottom-start" data-kt-menu-offset="-220,0" class="menu-item menu-lg-down-accordion me-0 me-lg-2">
                                        <span b-1mtsuay2f9 class="menu-link">
                                            <span b-1mtsuay2f9 class="menu-icon-info">
                                                <i class="fa-solid fa-sliders" style="color: #0b07e9;"></i>
                                            </span>
                                            <span b-1mtsuay2f9 class="menu-title text-dark">Config</span>
                                            <span b-1mtsuay2f9 class="menu-arrow d-lg-none"></span>
                                        </span>
                                        <div b-1mtsuay2f9 class="menu-sub menu-sub-lg-down-accordion menu-sub-lg-dropdown p-0 w-100 w-lg-600px">
                                            <div b-1mtsuay2f9 class="menu-state-bg menu-extended overflow-hidden overflow-lg-visible" data-kt-menu-dismiss="true">
                                                <div b-1mtsuay2f9 class="row">
                                                    <div b-1mtsuay2f9 class="col-lg-12 mb-3 mb-lg-0 py-3 px-3 py-lg-6 px-lg-6">
                                                        <div b-1mtsuay2f9 class="row">
                                                            <div b-1mtsuay2f9 class="col-lg-6 mb-3">
                                                                <div b-1mtsuay2f9 class="menu-item p-0 m-0">
                                                                    <a b-1mtsuay2f9 href="/speciality" class="menu-link">
                                                                        <span b-1mtsuay2f9 class="menu-custom-icon d-flex flex-center flex-shrink-0 rounded w-40px h-40px me-3">
                                                                            <span b-1mtsuay2f9 class="svg-icon svg-icon-primary svg-icon-1">
                                                                                <svg b-1mtsuay2f9 xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clipboard2-pulse" viewBox="0 0 16 16">
                                                                                    <path b-1mtsuay2f9 d="M9.5 0a.5.5 0 0 1 .5.5.5.5 0 0 0 .5.5.5.5 0 0 1 .5.5V2a.5.5 0 0 1-.5.5h-5A.5.5 0 0 1 5 2v-.5a.5.5 0 0 1 .5-.5.5.5 0 0 0 .5-.5.5.5 0 0 1 .5-.5h3Z" />
                                                                                    <path b-1mtsuay2f9 d="M3 2.5a.5.5 0 0 1 .5-.5H4a.5.5 0 0 0 0-1h-.5A1.5 1.5 0 0 0 2 2.5v12A1.5 1.5 0 0 0 3.5 16h9a1.5 1.5 0 0 0 1.5-1.5v-12A1.5 1.5 0 0 0 12.5 1H12a.5.5 0 0 0 0 1h.5a.5.5 0 0 1 .5.5v12a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5v-12Z" />
                                                                                    <path b-1mtsuay2f9 d="M9.979 5.356a.5.5 0 0 0-.968.04L7.92 10.49l-.94-3.135a.5.5 0 0 0-.926-.08L4.69 10H4.5a.5.5 0 0 0 0 1H5a.5.5 0 0 0 .447-.276l.936-1.873 1.138 3.793a.5.5 0 0 0 .968-.04L9.58 7.51l.94 3.135A.5.5 0 0 0 11 11h.5a.5.5 0 0 0 0-1h-.128L9.979 5.356Z" />
                                                                                </svg>
                                                                            </span>
                                                                        </span>
                                                                        <span b-1mtsuay2f9 class="d-flex flex-column">
                                                                            <span b-1mtsuay2f9 class="fs-6 fw-bold text-gray-800">Speciality</span>
                                                                            <span b-1mtsuay2f9 class="fs-7 fw-semibold text-muted">Create/Update/Delete Specialities</span>
                                                                        </span>
                                                                    </a>

                                                                </div>
                                                            </div>
                                                            <div b-1mtsuay2f9 class="col-lg-6 mb-3">
                                                                <div b-1mtsuay2f9 class="menu-item p-0 m-0">

                                                                    <a b-1mtsuay2f9 href="/SurgeryType" class="menu-link">
                                                                        <span b-1mtsuay2f9 class="menu-custom-icon d-flex flex-center flex-shrink-0 rounded w-40px h-40px me-3">
                                                                            <span b-1mtsuay2f9 class="svg-icon svg-icon-danger svg-icon-1">
                                                                                <svg b-1mtsuay2f9 xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-activity" viewBox="0 0 16 16">
                                                                                    <path b-1mtsuay2f9 fill-rule="evenodd" d="M6 2a.5.5 0 0 1 .47.33L10 12.036l1.53-4.208A.5.5 0 0 1 12 7.5h3.5a.5.5 0 0 1 0 1h-3.15l-1.88 5.17a.5.5 0 0 1-.94 0L6 3.964 4.47 8.171A.5.5 0 0 1 4 8.5H.5a.5.5 0 0 1 0-1h3.15l1.88-5.17A.5.5 0 0 1 6 2Z" />
                                                                                </svg>
                                                                            </span>
                                                                        </span>
                                                                        <span b-1mtsuay2f9 class="d-flex flex-column">
                                                                            <span b-1mtsuay2f9 class="fs-6 fw-bold text-gray-800">Surgery</span>
                                                                            <span b-1mtsuay2f9 class="fs-7 fw-semibold text-muted">Create/Update/Delete Surgery</span>
                                                                        </span>
                                                                    </a>

                                                                </div>
                                                            </div>
                                                            <div b-1mtsuay2f9 class="col-lg-6 mb-3">
                                                                <div b-1mtsuay2f9 class="menu-item p-0 m-0">
                                                                    <a b-1mtsuay2f9 href="/Anesthesia" class="menu-link">
                                                                        <span b-1mtsuay2f9 class="menu-custom-icon d-flex flex-center flex-shrink-0 rounded w-40px h-40px me-3">
                                                                            <span b-1mtsuay2f9 class="svg-icon svg-icon-dark svg-icon-1">
                                                                                <svg b-1mtsuay2f9 xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-capsule" viewBox="0 0 16 16">
                                                                                    <path b-1mtsuay2f9 d="M1.828 8.9 8.9 1.827a4 4 0 1 1 5.657 5.657l-7.07 7.071A4 4 0 1 1 1.827 8.9Zm9.128.771 2.893-2.893a3 3 0 1 0-4.243-4.242L6.713 5.429l4.243 4.242Z" />
                                                                                </svg>
                                                                            </span>
                                                                        </span>
                                                                        <span b-1mtsuay2f9 class="d-flex flex-column">
                                                                            <span b-1mtsuay2f9 class="fs-6 fw-bold text-gray-800">Anesthesia Types</span>
                                                                            <span b-1mtsuay2f9 class="fs-7 fw-semibold text-muted">Create/Update/Delete Anesthesia Type</span>
                                                                        </span>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                            <div b-1mtsuay2f9 class="col-lg-6 mb-3">
                                                                <div b-1mtsuay2f9 class="menu-item p-0 m-0">
                                                                    <a b-1mtsuay2f9 href="/PreExistingConditions" class="menu-link">
                                                                        <span b-1mtsuay2f9 class="menu-custom-icon d-flex flex-center flex-shrink-0 rounded w-40px h-40px me-3">
                                                                            <span b-1mtsuay2f9 class="svg-icon svg-icon-success svg-icon-1">
                                                                                <svg b-1mtsuay2f9 xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-sliders2-vertical" viewBox="0 0 16 16">
                                                                                    <path b-1mtsuay2f9 fill-rule="evenodd" d="M0 10.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 0-1H3V1.5a.5.5 0 0 0-1 0V10H.5a.5.5 0 0 0-.5.5ZM2.5 12a.5.5 0 0 0-.5.5v2a.5.5 0 0 0 1 0v-2a.5.5 0 0 0-.5-.5Zm3-6.5A.5.5 0 0 0 6 6h1.5v8.5a.5.5 0 0 0 1 0V6H10a.5.5 0 0 0 0-1H6a.5.5 0 0 0-.5.5ZM8 1a.5.5 0 0 0-.5.5v2a.5.5 0 0 0 1 0v-2A.5.5 0 0 0 8 1Zm3 9.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 0-1H14V1.5a.5.5 0 0 0-1 0V10h-1.5a.5.5 0 0 0-.5.5Zm2.5 1.5a.5.5 0 0 0-.5.5v2a.5.5 0 0 0 1 0v-2a.5.5 0 0 0-.5-.5Z" />
                                                                                </svg>
                                                                            </span>
                                                                        </span>
                                                                        <span b-1mtsuay2f9 class="d-flex flex-column">
                                                                            <span b-1mtsuay2f9 class="fs-6 fw-bold text-gray-800">Pre-Existing Conditions</span>
                                                                            <span b-1mtsuay2f9 class="fs-7 fw-semibold text-muted">Configure Pre-Existing Conditions</span>
                                                                        </span>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                            <div b-1mtsuay2f9 class="col-lg-6 mb-3">
                                                                <div b-1mtsuay2f9 class="menu-item p-0 m-0">
                                                                    <a b-1mtsuay2f9 href="/Uploads" class="menu-link">
                                                                        <span b-1mtsuay2f9 class="menu-custom-icon d-flex flex-center flex-shrink-0 rounded w-40px h-40px me-3">
                                                                            <span b-1mtsuay2f9 class="svg-icon svg-icon-info svg-icon-1">
                                                                                <svg b-1mtsuay2f9 xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-card-heading" viewBox="0 0 16 16">
                                                                                    <path b-1mtsuay2f9 d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z" />
                                                                                    <path b-1mtsuay2f9 d="M3 8.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5zm0-5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5v-1z" />
                                                                                </svg>
                                                                            </span>
                                                                        </span>
                                                                        <span b-1mtsuay2f9 class="d-flex flex-column">
                                                                            <span b-1mtsuay2f9 class="fs-6 fw-bold text-gray-800">Images</span>
                                                                            <span b-1mtsuay2f9 class="fs-7 fw-semibold text-muted">Upload Images</span>
                                                                        </span>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div b-1mtsuay2f9 class="app-navbar flex-shrink-0">
                            <div b-1mtsuay2f9 class="app-navbar-item" id="kt_header_user_menu_toggle">
                                <div b-1mtsuay2f9 class="d-flex align-items-center border border-dashed border-gray-300 rounded p-2" data-kt-menu-trigger="{default: 'click', lg: 'hover'}" data-kt-menu-attach="parent" data-kt-menu-placement="bottom-end">
                                    <div b-1mtsuay2f9 class="cursor-pointer symbol me-3 symbol-35px symbol-lg-45px">
                                        <img class="" src="{% static 'media/avatars/blank.png' %}" alt="user" />
                                    </div>
                                    <div b-1mtsuay2f9 class="me-4">
                                        <a b-1mtsuay2f9 href="#" class="text-dark text-hover-primary fs-6 fw-bold">BookmyOT Admin</a>
                                        <a b-1mtsuay2f9 href="#" class="text-gray-400 text-hover-primary fs-7 fw-bold d-block">admin</a>
                                    </div>
                                    <span b-1mtsuay2f9 class="svg-icon svg-icon-2 svg-icon-gray-500 pt-1">
                                        <svg b-1mtsuay2f9 width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path b-1mtsuay2f9 d="M11.4343 12.7344L7.25 8.55005C6.83579 8.13583 6.16421 8.13584 5.75 8.55005C5.33579 8.96426 5.33579 9.63583 5.75 10.05L11.2929 15.5929C11.6834 15.9835 12.3166 15.9835 12.7071 15.5929L18.25 10.05C18.6642 9.63584 18.6642 8.96426 18.25 8.55005C17.8358 8.13584 17.1642 8.13584 16.75 8.55005L12.5657 12.7344C12.2533 13.0468 11.7467 13.0468 11.4343 12.7344Z" fill="currentColor" />
                                        </svg>
                                    </span>
                                </div>
                                <div b-1mtsuay2f9 class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-800 menu-state-bg menu-state-color fw-semibold py-4 fs-6 w-275px" data-kt-menu="true">

                                    <div b-1mtsuay2f9 class="menu-item px-3">
                                        <div b-1mtsuay2f9 class="menu-content d-flex align-items-center px-3">
                                            <div b-1mtsuay2f9 class="symbol symbol-50px me-5">
                                                <img alt="Logo" src="{% static 'media/avatars/blank.png' %}" />
                                            </div>
                                            <div b-1mtsuay2f9 class="d-flex flex-column">
                                                <div b-1mtsuay2f9 class="fw-bold d-flex align-items-center fs-5">
                                                    BookmyOT Admin
                                                </div>
                                                <a b-1mtsuay2f9 href="#" class="fw-semibold text-muted text-hover-primary fs-7">admin</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div b-1mtsuay2f9 class="separator my-2"></div>
                                    <div b-1mtsuay2f9 class="separator my-2"></div>
                                    <div b-1mtsuay2f9 class="menu-item px-5">
                                        <a b-1mtsuay2f9 href="/account/Logout" class="menu-link px-5">Sign Out</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div b-1mtsuay2f9 class="app-wrapper flex-column flex-row-fluid" id="kt_app_wrapper">
                <div b-1mtsuay2f9 class="app-container container-xxl d-flex">
                    <div b-1mtsuay2f9 class="app-main flex-column flex-row-fluid" id="kt_app_main">
                        <div b-1mtsuay2f9 class="d-flex flex-column flex-column-fluid">
                           
                            <script>var hostUrl = "~/";</script>
                            <script src="/lib/custom/vis-timeline/vis-timeline.bundle.js"></script>
                            <script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>
                            <script src="/js/widgets.bundle.js"></script>
                            <script src="/js/custom/widgets.js"></script>
                            <script src="/js/custom/utilities/modals/create-project/files.js"></script>
                            <script src="/js/custom/utilities/modals/create-project/main.js"></script>
                            <script src="/js/site.js"></script>
                            <div id="kt_app_toolbar" class="app-toolbar pt-4 pt-lg-7 mb-n2 mb-lg-n3">
	<div id="kt_app_toolbar_container" class="app-container container-xxl d-flex flex-stack flex-row-fluid">
		<div class="d-flex flex-stack flex-row-fluid">
			<div class="d-flex flex-column flex-row-fluid">
				<ul class="breadcrumb breadcrumb-separatorless fw-semibold mb-1 mb-lg-3 me-2">
					<li class="breadcrumb-item text-gray-700 fw-bold lh-1">
						<a href="/" class="text-white">
							<i class="fonticon-home text-gray-700 fs-3"></i>
						</a>
					</li>
					<li class="breadcrumb-item">
						<span class="svg-icon svg-icon-5 svg-icon-gray-700 mx-n2">
							<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M12.6343 12.5657L8.45001 16.75C8.0358 17.1642 8.0358 17.8358 8.45001 18.25C8.86423 18.6642 9.5358 18.6642 9.95001 18.25L15.4929 12.7071C15.8834 12.3166 15.8834 11.6834 15.4929 11.2929L9.95001 5.75C9.5358 5.33579 8.86423 5.33579 8.45001 5.75C8.0358 6.16421 8.0358 6.83579 8.45001 7.25L12.6343 11.4343C12.9467 11.7467 12.9467 12.2533 12.6343 12.5657Z" fill="currentColor" />
							</svg>
						</span>
					</li>
					<li class="breadcrumb-item text-gray-700 fw-bold lh-1">Dashboard</li>
				</ul>
			</div>
		</div>
	</div>
	<!--end::Toolbar container-->
</div>
<div id="kt_app_content" class="app-content">

	<div class="row g-5 g-xl-10">

		<div class="col-xl-4 mb-xl-10">
			<!--begin::Lists Widget 19-->
			<div class="card card-flush h-xl-100">
				<!--begin::Heading-->
				<div class="card-header rounded bgi-no-repeat bgi-size-cover bgi-position-y-top bgi-position-x-center align-items-start h-250px" style="background-image:url({% static 'media/svg/shapes/top-green.png' %}" data-bs-theme="light">
					<!--begin::Title-->
					<h3 class="card-title align-items-start flex-column text-white pt-15">
						<span class="fw-bold fs-2x mb-3">Today's Stats</span>
					</h3>
				</div>
				<div class="card-body mt-n20">

					<div class="mt-n20 position-relative">

						<div class="row g-3 g-lg-6">

							<div class="col-6">

								<div class="bg-gray-100 bg-opacity-70 rounded-2 px-6 py-5">

									<div class="symbol symbol-30px me-5 mb-8">
										<span class="symbol-label">
											<!--begin::Svg Icon | path: icons/duotune/medicine/med005.svg-->
											<span class="svg-icon svg-icon-1 svg-icon-primary">
												<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-h-square" viewBox="0 0 16 16">
													<path d="M11 4.002V12H9.67V8.455H6.33V12H5V4.002h1.33v3.322h3.34V4.002H11Z" />
													<path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2Zm15 0a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2Z" />
												</svg>
											</span>
										</span>
									</div>
									<div class="m-0">
										<span class="text-gray-700 fw-bolder d-block fs-2qx lh-1 ls-n1 mb-1">{{HospitalCount}}</span>
										<span class="text-gray-500 fw-semibold fs-6">Hospital Count</span>
									</div>
								</div>
							</div>
							<div class="col-6">
								<div class="bg-gray-100 bg-opacity-70 rounded-2 px-6 py-5">
									<div class="symbol symbol-30px me-5 mb-8">
										<span class="symbol-label">
											<span class="svg-icon svg-icon-1 svg-icon-primary">
												<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-video2" viewBox="0 0 16 16">
													<path d="M10 9.05a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z" />
													<path d="M2 1a2 2 0 0 0-2 2v9a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2H2ZM1 3a1 1 0 0 1 1-1h2v2H1V3Zm4 10V2h9a1 1 0 0 1 1 1v9c0 .285-.12.543-.31.725C14.15 11.494 12.822 10 10 10c-3.037 0-4.345 1.73-4.798 3H5Zm-4-2h3v2H2a1 1 0 0 1-1-1v-1Zm3-1H1V8h3v2Zm0-3H1V5h3v2Z" />
												</svg>
											</span>

										</span>
									</div>
									<!--end::Symbol-->

									<div class="m-0">

										<span class="text-gray-700 fw-bolder d-block fs-2qx lh-1 ls-n1 mb-1">{{DoctorsCount}}</span>

										<!--begin::Desc-->
										<span class="text-gray-500 fw-semibold fs-6">Doctors Count</span>

									</div>

								</div>

							</div>


							<div class="col-6">

								<div class="bg-gray-100 bg-opacity-70 rounded-2 px-6 py-5">

									<div class="symbol symbol-30px me-5 mb-8">
										<span class="symbol-label">
											<!--begin::Svg Icon | path: icons/duotune/general/gen020.svg-->
											<span class="svg-icon svg-icon-1 svg-icon-primary">
												<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-bounding-box" viewBox="0 0 16 16">
													<path d="M1.5 1a.5.5 0 0 0-.5.5v3a.5.5 0 0 1-1 0v-3A1.5 1.5 0 0 1 1.5 0h3a.5.5 0 0 1 0 1h-3zM11 .5a.5.5 0 0 1 .5-.5h3A1.5 1.5 0 0 1 16 1.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 1-.5-.5zM.5 11a.5.5 0 0 1 .5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 1 0 1h-3A1.5 1.5 0 0 1 0 14.5v-3a.5.5 0 0 1 .5-.5zm15 0a.5.5 0 0 1 .5.5v3a1.5 1.5 0 0 1-1.5 1.5h-3a.5.5 0 0 1 0-1h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 1 .5-.5z" />
													<path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm8-9a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
												</svg>
											</span>

										</span>
									</div>
									<div class="m-0">
										<span class="text-gray-700 fw-bolder d-block fs-2qx lh-1 ls-n1 mb-1">{{PendingCases}}</span>
										<span class="text-gray-500 fw-semibold fs-6">Pending Cases</span>
									</div>
								</div>
							</div>
							<div class="col-6">
								<div class="bg-gray-100 bg-opacity-70 rounded-2 px-6 py-5">
									<div class="symbol symbol-30px me-5 mb-8">
										<span class="symbol-label">
											<span class="svg-icon svg-icon-1 svg-icon-primary">
												<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill-check" viewBox="0 0 16 16">
													<path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm1.679-4.493-1.335 2.226a.75.75 0 0 1-1.174.144l-.774-.773a.5.5 0 0 1 .708-.708l.547.548 1.17-1.951a.5.5 0 1 1 .858.514ZM11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
													<path d="M2 13c0 1 1 1 1 1h5.256A4.493 4.493 0 0 1 8 12.5a4.49 4.49 0 0 1 1.544-3.393C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4Z" />
												</svg>
											</span>
										</span>
									</div>
									<div class="m-0">
										<span class="text-gray-700 fw-bolder d-block fs-2qx lh-1 ls-n1 mb-1">{{CompletedCases}}</span>
										<span class="text-gray-500 fw-semibold fs-6">Completed Cases</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xl-8 mb-5 mb-xl-10">
			<div class="row g-5 g-xl-10">
				<div class="col-xl-6 mb-xl-10">
					<div id="kt_sliders_widget_1_slider" class="card card-flush carousel carousel-custom carousel-stretch slide h-xl-100" data-bs-ride="carousel" data-bs-interval="5000">
						<div class="card-header pt-5">
							<h4 class="card-title d-flex align-items-start flex-column">
								<span class="card-label fw-bold text-gray-800">Today's appointments</span>
								<span class="text-gray-400 mt-1 fw-bold fs-7">4 Surgeries, 3 OT</span>
							</h4>
							<div class="card-toolbar">
								<ol class="p-0 m-0 carousel-indicators carousel-indicators-bullet carousel-indicators-active-primary">
									<li data-bs-target="#kt_sliders_widget_1_slider" data-bs-slide-to="0" class="active ms-1"></li>
									<li data-bs-target="#kt_sliders_widget_1_slider" data-bs-slide-to="1" class="ms-1"></li>
									<li data-bs-target="#kt_sliders_widget_1_slider" data-bs-slide-to="2" class="ms-1"></li>
								</ol>
							</div>
						</div>
						<div class="card-body py-6">
							<div class="carousel-inner mt-n5">
								<div class="carousel-item active show">
									<div class="d-flex align-items-center mb-5">
										<div class="w-80px flex-shrink-0 me-2">
											<div class="min-h-auto ms-n3" id="kt_slider_widget_1_chart_1" style="height: 100px"></div>
										</div>
										<div class="m-0">
											<h4 class="fw-bold text-gray-800 mb-3"></h4>
											<div class="d-flex d-grid gap-5">
												<div class="d-flex flex-column flex-shrink-0 me-4">
													<span class="d-flex align-items-center fs-7 fw-bold text-gray-400 mb-2">
														<span class="svg-icon svg-icon-6 svg-icon-gray-600 me-2">
															{% comment %} <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
																<rect opacity="0.3" x="2" y="2" width="20" height="20" rx="5" fill="currentColor" />
																<path d="M11.9343 12.5657L9.53696 14.963C9.22669 15.2733 9.18488 15.7619 9.43792 16.1204C9.7616 16.5789 10.4211 16.6334 10.8156 16.2342L14.3054 12.7029C14.6903 12.3134 14.6903 11.6866 14.3054 11.2971L10.8156 7.76582C10.4211 7.3666 9.7616 7.42107 9.43792 7.87962C9.18488 8.23809 9.22669 8.72669 9.53696 9.03696L11.9343 11.4343C12.2467 11.7467 12.2467 12.2533 11.9343 12.5657Z" fill="currentColor" />
															</svg> {% endcomment %}
                                                          
                                                                <span b-1mtsuay2f9 class="menu-icon-warning">
                                                                    <i class="fa-solid fa-spinner-third"></i>
                                                                </span>
                                                          
														</span>
														4 Surgeries
													</span>
												</div>
												<div class="d-flex flex-column flex-shrink-0">
													<span class="d-flex align-items-center fs-7 fw-bold text-gray-400 mb-2">
														<span class="svg-icon svg-icon-6 svg-icon-gray-600 me-2">
															<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
																<rect opacity="0.3" x="2" y="2" width="20" height="20" rx="5" fill="currentColor" />
																<path d="M11.9343 12.5657L9.53696 14.963C9.22669 15.2733 9.18488 15.7619 9.43792 16.1204C9.7616 16.5789 10.4211 16.6334 10.8156 16.2342L14.3054 12.7029C14.6903 12.3134 14.6903 11.6866 14.3054 11.2971L10.8156 7.76582C10.4211 7.3666 9.7616 7.42107 9.43792 7.87962C9.18488 8.23809 9.22669 8.72669 9.53696 9.03696L11.9343 11.4343C12.2467 11.7467 12.2467 12.2533 11.9343 12.5657Z" fill="currentColor" />
															</svg>
														</span>
														3 OT
													</span>
												</div>
											</div>
										</div>
									</div>
									<div class="m-0">
										<a href="#" class="btn btn-sm btn-light me-2 mb-2">Close</a>
										<a href="#" class="btn btn-sm btn-primary mb-2" data-bs-toggle="modal" data-bs-target="#kt_modal_create_app">Details</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xl-6 mb-5 mb-xl-10">
					<div id="kt_sliders_widget_2_slider" class="card card-flush carousel carousel-custom carousel-stretch slide h-xl-100" data-bs-ride="carousel" data-bs-interval="5500">
						<div class="card-header pt-5">
							<h4 class="card-title d-flex align-items-start flex-column">
								<span class="card-label fw-bold text-gray-800">Today’s OTs</span>
								<span class="text-gray-400 mt-1 fw-bold fs-7">3 OTs</span>
							</h4>
							<div class="card-toolbar">
								<ol class="p-0 m-0 carousel-indicators carousel-indicators-bullet carousel-indicators-active-success">
									<li data-bs-target="#kt_sliders_widget_2_slider" data-bs-slide-to="0" class="active ms-1"></li>
									<li data-bs-target="#kt_sliders_widget_2_slider" data-bs-slide-to="1" class="ms-1"></li>
									<li data-bs-target="#kt_sliders_widget_2_slider" data-bs-slide-to="2" class="ms-1"></li>
								</ol>
							</div>
						</div>
						<div class="card-body py-6">
							<div class="carousel-inner">
								<div class="carousel-item active show">
									<div class="d-flex align-items-center mb-9">
										<div class="symbol symbol-70px symbol-circle me-5">
											<span class="symbol-label bg-light-success">
												<span class="svg-icon svg-icon-3x svg-icon-success">
													<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
														<path d="M16.925 3.90078V8.00077L12.025 10.8008V5.10078L15.525 3.10078C16.125 2.80078 16.925 3.20078 16.925 3.90078ZM2.525 13.5008L6.025 15.5008L10.925 12.7008L6.025 9.90078L2.525 11.9008C1.825 12.3008 1.825 13.2008 2.525 13.5008ZM18.025 19.7008V15.6008L13.125 12.8008V18.5008L16.625 20.5008C17.225 20.8008 18.025 20.4008 18.025 19.7008Z" fill="currentColor" />
														<path opacity="0.3" d="M8.52499 3.10078L12.025 5.10078V10.8008L7.125 8.00077V3.90078C7.125 3.20078 7.92499 2.80078 8.52499 3.10078ZM7.42499 20.5008L10.925 18.5008V12.8008L6.02499 15.6008V19.7008C6.02499 20.4008 6.82499 20.8008 7.42499 20.5008ZM21.525 11.9008L18.025 9.90078L13.125 12.7008L18.025 15.5008L21.525 13.5008C22.225 13.2008 22.225 12.3008 21.525 11.9008Z" fill="currentColor" />
													</svg>
												</span>
											</span>
										</div>
										<div class="m-0">
											<h4 class="fw-bold text-gray-800 mb-3">3 OT</h4>
											<div class="d-flex d-grid gap-5">
												<div class="d-flex flex-column flex-shrink-0 me-4">
													<span class="d-flex align-items-center fs-7 fw-bold text-gray-400 mb-2">
														<span class="svg-icon svg-icon-6 svg-icon-gray-600 me-2">
															<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
																<rect opacity="0.3" x="2" y="2" width="20" height="20" rx="5" fill="currentColor" />
																<path d="M11.9343 12.5657L9.53696 14.963C9.22669 15.2733 9.18488 15.7619 9.43792 16.1204C9.7616 16.5789 10.4211 16.6334 10.8156 16.2342L14.3054 12.7029C14.6903 12.3134 14.6903 11.6866 14.3054 11.2971L10.8156 7.76582C10.4211 7.3666 9.7616 7.42107 9.43792 7.87962C9.18488 8.23809 9.22669 8.72669 9.53696 9.03696L11.9343 11.4343C12.2467 11.7467 12.2467 12.2533 11.9343 12.5657Z" fill="currentColor" />
															</svg>
														</span>
														3 OT
													</span>
												</div>
											</div>
										</div>
									</div>
									<div class="m-0">
										<a href="#" class="btn btn-sm btn-light me-2 mb-2">Close</a>
										<a href="#" class="btn btn-sm btn-success mb-2" data-bs-toggle="modal" data-bs-target="#kt_modal_create_campaign">Details</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="card border-transparent" data-bs-theme="light" style="background-color: #1C325E;">
				<div class="card-body d-flex ps-xl-15">
					<div class="m-0">
						<div class="position-relative fs-2x z-index-2 fw-bold text-white mb-7">
							<span class="me-2">
								Physicians can accept OT appointments right from their mobile in BookMyOT App.
							</span>
						</div>
						<div class="mb-3">
							<a href='#' class="btn btn-danger fw-semibold me-2" data-bs-toggle="modal" data-bs-target="#kt_modal_upgrade_plan">Get Started</a>
							<a href="#" class="btn btn-color-white bg-white bg-opacity-15 bg-hover-opacity-25 fw-semibold">How to</a>
						</div>
					</div>
					<img src="/media/illustrations/sigma-1/17-dark.png" class="position-absolute me-3 bottom-0 end-0 h-200px" alt="" />
				</div>
			</div>
		</div>
	</div>
</div>
                        </div>
                        <div b-1mtsuay2f9 id="kt_app_footer" class="app-footer d-flex flex-column flex-md-row flex-center flex-md-stack pb-3">
                            <div b-1mtsuay2f9 class="text-dark order-2 order-md-1">
                                <span b-1mtsuay2f9 class="text-muted fw-semibold me-1">2023&copy;</span>
                                <a b-1mtsuay2f9 href="#" target="_blank" class="text-gray-800 text-hover-primary">Book my OT</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
{% endblock %}